* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0a2f80;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}
